<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Tucker Kline | Dungeon Crawler</title>
	<link rel="stylesheet" type="text/css" href = "stylesheet.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-controller = "mainController" ng-keydown="handleKeydown($event)" ng-cloak>
<div class="main container">
<h2 style="color: red">{{ greeting }}</h2>
<div class = "store">
<strong>Store:</strong>	
	<ul>
	<li>potion <button ng-click = "buyPotion()">2 <i class="fa fa-money"></i></button></li>
	<li>blessing of +2 attackpower <button ng-click = "buyBlessing()">5 <i class="fa fa-money"></i></button></li>
	<li>useless trinket <button ng-click = "buyTrinket()">100 <i class="fa fa-money"></i></button></li>
	<li>crotchguard of +2 defense <button ng-click = "buyCrotchguard()">2<i class="fa fa-money"></i></button></li>
	</ul> 


</div>



<div class = "dungeon">
<div ng-model = "player" style="top:{{moveUpDown}}px;left: {{moveLeftRight}}px;"></div>
<div class = "roomRepeater" ng-repeat = "room in rooms"><div class = "room" ng-class = '{ active: activeIndex === $index }'></div></div>


</div>

<hr>
<form ng-show='needToEnterName'><input placeholder = "enter your name" ng-model="name" ng-show='needToEnterName'><button ng-click = 'enter()	'>enter</button></form> <br>
<strong>{{name}}</strong> <br>
HP : {{ player.hp }} <br>
Gold: {{ player.gold }} <br>
Potions: {{ player.potions }} <button ng-click="drink()"><i class="fa fa-beer"></i></button> <br>
Attackpower: {{ player.attackpower }}<br>
Defense: {{ player.defense }} <br>

Inventory: <ul ng-repeat= "item in player.items track by $index" class = "inventory"> 
<li> {{ item }}</li>
</ul>
<hr>
you enter the dungeon. use your arrow keys to move into a room. beware. monsters lurk. <br>

<div ng-repeat = "monster in activeMonster track by $index">
you encounter a {{monster.name}} it has {{monster.hp}} hitpoints and an attack power of {{monster.attackpower}}. it is dead: {{monster.dead}}.
What do you want to do? <button ng-click="attack(monster)">attack</button> <button ng-click="run()">run</button><button ng-show="dead" ng-click="loot(monster)">loot the body</button>
</div>



</div> 
<script src="javascript.js"></script>
</body>
</html>