<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Tucker Kline | Dungeon Crawler</title>
	<link rel="stylesheet" type="text/css" href = "stylesheet.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-controller = "mainController" ng-keydown="handleKeydown($event)" ng-cloak>
<div class="main container">
<h2>{{ greeting }}</h2>
<div class = "dungeon">
<div ng-model = "player" style="top:{{moveUpDown}}px;left: {{moveLeftRight}}px;"></div>
<div class = "roomRepeater" ng-repeat = "room in rooms"><div class = "room" ng-class = '{ active: activeIndex === $index }'></div></div>




<hr>
<form ng-show='needToEnterName'><input placeholder = "enter your name" ng-model="name" ng-show='needToEnterName'><button ng-click = 'enter()	'>enter</button></form> <br>
<strong>{{name}}</strong> <br>
HP : {{ player.hp }} <br>
Gold: {{ player.gold }} <br>
Attackpower: {{ player.attackpower }}<br>

Inventory: <ul ng-repeat= "item in player.items track by $index" class = "inventory"> 
<li> {{ item }}</li>
</ul>
<hr>
you enter the dungeon. <br>

<div ng-repeat = "monster in activeMonster track by $index">
you encounter a {{monster.name}} it has {{monster.hp}} hitpoints and an attack power of {{monster.attackpower}}.
what do you want to do? <button ng-click="attack(monster)">attack</button> <button ng-click="run()">run</button><button ng-show="dead" ng-click="loot(monster)">loot the body</button>
</div>

</div>

</div> 
<script src="javascript.js"></script>
</body>
</html>